<div class="container">
  <div class="row mt-3">
    <div class="col-xs-12 col-md-4">
      <div *ngFor="let item of cities" class="card card-outline-secondary mb-3">
        <div class="card-block">
          <h3 class="card-title">{{item.name}}</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card card-inverse card-primary">
        <div class="card-block">
          <h3 class="card-title text-center">INFO</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div *ngFor="let item of companies" class="card card-outline-secondary mb-3">
        <div class="card-block">
          <h3 class="card-title">{{item.name}}</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
